h1 {
  font-size: 45px;
/*  color: #EE799F;*/
  color: #C374D7;
  padding-left: 100px;
  
}



/* site body */
body {
  background-color:pink;
  color: #000;
  background-image: url("../img/soap-2333412_1280.jpg");
  background-size: 100%;
  
  
  background-repeat: no-repeat;
}
nav ul {
 list-style: none;
  margin: 8px 0px 10px;
  padding: 0;
  font-size: 20px;
  color: black;
}

/*   made nav bar horizontal  */
nav li {
  display: inline-block;
}
nav a {
  font-weight: 800;
  padding: 15px 20px;
}

/*
nav {
  width: 100%; //width should be a percentage for responsiveness
  height: 38px; //height should be px. Adjust to your liking
  background-color: #0b98de;//hex color code should be used
}
  nav a {
 }
  nav a:hover {
  }
  #logo {
  }
*/
